/********************
.sitemap
  .wrapTop
    .closeBtn
      span
  .wrapBottom
    .heading
      h2
    ul.category
      li
        a
        ul.depth1
          li 
            a
              i
            ul.depth2
              li
                a
********************/


.sitemap{
  width: 100%;
}

/* 사이트맵 닫기 버튼 */
.sitemap .wrapTop{
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.sitemap .closeBtn{
  width: 2.25rem;
  height: 2.25rem;
  position: relative;
  cursor: pointer;
}
.sitemap .closeBtn span{
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--white);
}
.sitemap .closeBtn span:nth-child(1){transform: rotate(45deg);}
.sitemap .closeBtn span:nth-child(2){transform: rotate(-45deg);}


.wrapBottom{
  padding: 0 105px;
}
/* 사이트맵 헤딩 */
.sitemap .heading{}
.sitemap .heading h2{}


/* 사이트맵 메뉴 */
.sitemap nav{
  padding: 60px 0;
}
.sitemap nav .category{}
.sitemap nav .category li{}
.sitemap nav .category li a{}

/* depth1 */
.sitemap .depth1{
  background-color: rgba(255, 255, 255, 0.1);
  
}
.sitemap .depth1 li{}
.sitemap .depth1 li a{}
.sitemap .depth1 li a i{}

/* depth2 */
.sitemap .depth2{
  border: 1px solid #00f;
  
}
.sitemap .depth2 li{}
.sitemap .depth2 li a{}