/* 중복 */
.inner,
.howToUse,
.chargingMethod{
	max-width: 1500px;
	margin: 0 auto;	
}
.howToUse,
.chargingMethod{
	padding: 130px 0;
}
.chargingMethod .heading,
.howToUse .heading{
  text-align: center;
}
.howToUse ul.orderOfUse,
.orderOfUse li{
  display: flex;
  justify-content: space-between;
}
.cmContentsWrap li .desc .moreViewBtn,
.cmContentsWrap li .desc .moreViewBtn::before{
  transition: .3s;
}

.main{}


/***** 메인 헤드라인 시작 *****/
section.headline{
  height: 570px;
  background: url(../../img/sub1/headlineBg.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.headline::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.headline .inner{
  height: 100%;
  position: relative;
}
.headline .heading{
  position: absolute;
  bottom: 45px;
  left: 0;
  z-index: 1;
}
.headline .heading h2{}
.headline .heading p{}
.headline .heading p i{}
/***** 메인 헤드라인 끝 *****/


/***** 섹션1_전기차 충전 사용 시작 *****/
.howToUse{}
.howToUse .heading{
  margin-bottom: 45px;
}
.howToUse .heading h2{}

.howToUse ul.orderOfUse{
  gap: 45px;
}
.orderOfUse li{
  width: calc(100% / 3);
  height: 500px;
  padding: 2rem;
  flex-direction: column;
  border: 1px solid var(--white);
  border-radius: 10px;
}
.orderOfUse li .textWrap{}
.orderOfUse li .textWrap .num{
  font-size: var(--h5);
}
.orderOfUse li .textWrap h3{
  margin: 2rem 0 1rem;
}
.orderOfUse li .textWrap p{}

.orderOfUse li .iconWrap{
  width: 100px;
  height: 100px;
  /* margin: 0 0 0 auto; */
  border-radius: 100%;
}
.orderOfUse li .iconWrap img{}
/***** 섹션1_전기차 충전 사용 끝 *****/


/***** 섹션2_전기차 충전 방식 시작 *****/
.chargingMethod{}
.chargingMethod .heading{
  margin-bottom: 80px;
}
.chargingMethod .heading h2{}

.cmContentsWrap,
.cmContentsWrap li,
.cmContentsWrap li .desc{
  display: flex;
}
.cmContentsWrap,
.cmContentsWrap li .desc{
  flex-direction: column;
}
.cmContentsWrap{
  gap: 130px;
}
.cmContentsWrap li{
  height: 440px;
  justify-content: space-between;
  gap: 100px;
  overflow: hidden;
}
.cmContentsWrap li:nth-child(even){
  flex-direction: row-reverse;
}
.cmContentsWrap li .imgWrap{
  width: calc(100% - 35%);
}
.cmContentsWrap li .imgWrap img{
  width: 100%;
}

.cmContentsWrap li .desc{
  width: 35%;
  height: 100%;
  justify-content: center;
  border-bottom: 1px solid var(--white);
}
.cmContentsWrap li .desc h3{}
.cmContentsWrap li .desc p{
  margin: 1.5rem 0 60px;
}
.cmContentsWrap li .desc .moreViewBtn{
  width: 150px;
  height: 50px;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.cmContentsWrap li .desc .moreViewBtn::before{
  content: '';
  width: 300%;
  height: 110%;
  position: absolute;
  top: 50%;
  right: 160%;
  transform: skew(-45deg) translateY(-50%);
  z-index: -1;
  background-color: var(--white);
}

/***** 섹션2_전기차 충전 방식 끝 *****/


/* 호버 스타일 */
@media (hover:hover){
  .cmContentsWrap li .desc .moreViewBtn:hover{
    color: var(--bk);
    font-weight: 700;
  }
  .cmContentsWrap li .desc .moreViewBtn:hover::before{
    right: 0;
  }
}